<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url"                content="http://www.unspoken.io" />
    <meta property="og:title"              content="Unspoken" />
    <meta property="og:description"        content="This feeling often goes unspoken." />
    <meta property="og:image"              content="{{ url_for('static', filename='img/fb_share.png') }}" />


    <title>Unspoken</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="https://use.typekit.net/pga5ocd.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <script src="{{ url_for('static', filename='js/us-states.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/unspoken.css') }}">

    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("e25bfe00c1f58cb35f850ae58bd8378b");</script><!-- end Mixpanel -->

    <!--[if lt IE 9]>
      <script src="httnv/ps://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <div id="concrete"></div>
    <div class="container-fluid">
      <section id="faq">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 text-center alternate-content">
              <h2>FAQ</h2>
          </div>

          <div class="col-xs-2 col-xs-offset-2 text-center alternate-content">
            <h1 class='faq-number'>1</h1>
          </div>
          <div class="col-xs-6 col-xs-offset-0 alternate-content faq">
              <p>Q: What is the difference between an active shooter incidents and a mass shooting?</p>
              <p>A: Active shooter incidents are unique because an aspect of the crime may affect the protocol in responding to the scene.
                Both law enforcement and citizens have the potential to impact the outcome of an active shooter incident.
                Therefore, all mass shootings are active shooter incidents; however, not all active shooter incidents are mass shootings because of the minimum four deaths to meet the mass shooting criteria.</p>
          </div>
          <div class="col-xs-2 col-xs-offset-2 text-center alternate-content">
            <h1 class='faq-number'>2</h1>
          </div>
          <div class="col-xs-6 col-xs-offset-0 alternate-content faq">
              <p>Q: Does University of Oregon currently have an active shooter training program?</p>
              <p>A: Yes they currently do, however as stated previously they are not mandated by the University. They live exclusively on the University’s Emergency Risk Services site. For students, in person training sessions need to be scheduled 3-6 weeks in advance with a group of fellow students. Based on our survey, 73% of 100+ faculty and staff have not attended or used these trainings.</p>
          </div>
          <div class="col-xs-2 col-xs-offset-2 text-center alternate-content">
            <h1 class='faq-number'>3</h1>
          </div>
          <div class="col-xs-6 col-xs-offset-0 alternate-content faq">
              <p>Q: Are you guys focusing on this stuff as part of a conspiracy to take away Americans' gun rights?</p>
              <p>A: No. Clearly the current rhetoric is not working as we are still experiencing an increase in active shooter incidents is undeniable. We are simply looking for a way to increase the safety of faculty, staff and students on campus. We wish not to engage in the politically-weighted debate over firearm rights.</p>
          </div>
          <div class="col-xs-2 col-xs-offset-2 text-center alternate-content">
            <h1 class='faq-number'>4</h1>
          </div>
          <div class="col-xs-6 col-xs-offset-0 alternate-content faq">
              <p>Q: By signing this petition what exactly am I asking the University? </p>
              <p>A: By signing this petition, you agree with the statement that the University of Oregon should do more to ensure students safety i.e. provide active shooter training. The University of Oregon has the opportunity to further leverage federal resources made available to institutions of higher education in order to increase our safety.</p>
          </div>
          <div class="col-xs-2 col-xs-offset-2 text-center alternate-content">
            <h1 class='faq-number'>5</h1>
          </div>
          <div class="col-xs-6 col-xs-offset-0 alternate-content faq">
              <p>Q: Are you promoting lockdown drills? Because I am completely against that.</p>
              <p>A: Lockdown drills are not the purpose of this project. Rather we want to provide general skills in order to survive active shooter training.</p>
          </div>
          <div class="col-xs-2 col-xs-offset-2 text-center alternate-content">
            <h1 class='faq-number'>6</h1>
          </div>
          <div class="col-xs-6 col-xs-offset-0 alternate-content faq">
              <p>Q: What type of training are you proposing?</h3>
              <p>A: The University of Oregon can provide engaging materials that are designed to inform and educate students about what to do in an active shooter situation.</p>
          </div>
          <div class="col-xs-6 col-xs-offset-3 text-center alternate-content faq">
              <p>Have another question?</h3>
              <p>Email us at <a href="mailto://unspokenuo@gmail.com">unspokenuo@gmail.com</a></p>
          </div>
        </div>
      </section>
  </div>
  <script type="text/javascript">
    mixpanel.track("Viewed Home Page");
  </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
    </script>
  </body>
</html>
