html,body{
  height: 100%;
  width: 100%;
  font-family: "brandon-grotesque";
  background-color: rgb(188, 190, 192);
}

@media (max-width: 768px) {
  html,body{
    height: 100%;
    width: 100%;
    font-family: "brandon-grotesque";
    font-size: 85%;
    background-color: rgb(188, 190, 192);
  }
}

#concrete{
  position: fixed;
  background-image: url('/static/img/concrete.jpg');
  height: 100%;
  width: 100%;
  top:0px;
  opacity: 0.35;
}

.row{
  width: 100%;
  margin-left: 0px;
}

.container-fluid{
  padding: 0;
  height: 100%;
}

h2, h3, h4{
  font-family: "brandon-grotesque";
  color: white;
}

h2{
  font-size: 2.5em;
  font-weight: 500;
}

h3{
  font-size: 2em;
  font-weight: 400;
}

h4{
  font-size: 1.5em;
  font-weight: 400;
}

p{
  font-family: "brandon-grotesque";
  font-size: 1.6em;
  color: white;
  font-weight: 400;
}

a, a:hover{
  color: #ff3333;
}

.alternate{
  color: black;
}

/* Progress Bar */
div#progress-col{
  height: 95%;
  background-color: #5C5D5F;
  width: 15px;
  position: fixed;
  left: 10px;
  top: 2.5%;
}

div#progress-bar{
  height: 50px;
  background-color: black;
  width: 100%;
  position: relative;
  top:0px;
}

/* Intro Section */
img#logo{
  margin-top: 100px;
  margin-bottom: 100px;
}

section#intro{
  background-color: rgb(188, 190, 192);
  padding-bottom: 50px;
}

h2#rotate{
  color: black;
  font-size: 4em;
  min-height: 1.1em;
  margin-bottom: 21px;
}

@media (max-width: 768px) {
  h2#rotate{
    color: black;
    font-size: 3em;
    min-height: 1.1em;
    margin-bottom: 21px;
  }

  img#logo{
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.rw-words span{
	position: absolute;
  left: 0;
	opacity: 0;
	overflow: hidden;
	width: 100%;
}

.rw-words span{
	animation: rotateWord 26s linear infinite;
}


@-webkit-keyframes rotateWord {
  0% { opacity: 0; }
  1% { opacity: 0; -webkit-transform: translateY(-30px); }
2% { opacity: 1; -webkit-transform: translateY(0px);}
  7% { opacity: 1; -webkit-transform: translateY(0px); }
8% { opacity: 0; -webkit-transform: translateY(30px); }
  100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    1% { opacity: 0; -ms-transform: translateY(-30px); }
	2% { opacity: 1; -ms-transform: translateY(0px);}
    7% { opacity: 1; -ms-transform: translateY(0px); }
	8% { opacity: 0; -ms-transform: translateY(30px); }
    100% { opacity: 0; }
}
@keyframes rotateWord {
  0% { opacity: 0; }
  1% { opacity: 0; transform: translateY(-30px); }
2% { opacity: 1; transform: translateY(0px);}
  7% { opacity: 1; transform: translateY(0px); }
8% { opacity: 0; transform: translateY(30px); }
  100% { opacity: 0; }
}

img#scroll-button{
  width: 50px;
  margin-top: 50px;
}

img#scroll-button:hover{
  opacity: 0.6;
}

.btn{
  font-size: 1.4em;
}

.btn:active{
   -webkit-box-shadow: none;
   box-shadow: none;
}

/* Map Section */
#data-vis-1{
  padding-top: 100px;
  background-color: black;
  padding-bottom: 100px;
}
.svg-icon{
  font-family: FontAwesome;
  font-size: 21px;
}

.btn-custom{
  background-color: #ff3333;
  border-color: #ff3333;
  color: white;
}

.btn-custom:hover{
  background-color: rgb(172, 44, 20);
  border-color: rgb(172, 44, 20);
  color: white;
}


/* Bullets Data Vis */
section#data-vis-2{
  background-color: rgb(188, 190, 192);
  padding-bottom: 200px;
  padding-top: 100px;
}

#bullets{
  margin-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

#bullets-background{
  background-color: black;
  position: absolute;
  width: 55%;
  margin-left: 22.5%;
  margin-top: -40px;
  opacity: 0.7;
}

@media (max-width: 768px) {
  #bullets-background{
    background-color: black;
    position: absolute;
    width: 83%;
    margin-left: 8.33%;
    margin-top: -40px;
    opacity: 0.7;
  }
}

img.bullet{
  height: 100px;
  position: absolute;
  opacity: 0.5;
}

div.bullet-content{
  margin-bottom: 50px;
  z-index: 10;
}

div.bullet-content:last-child{
  margin-top: -75px;
  margin-bottom: 0px;
}

div.bullet-content:last-child > h2 {
  font-size: 2em;
}

hr.bullet{
  border-color: #ff3333;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
}

div.alternate-content > h2, div.alternate-content > h3, div.alternate-content > p{
  color: black;
}

/* Target Data Vis */
section#data-vis-3{
  background-color: black;
  padding-bottom: 100px;
  padding-top: 100px;
}

div.board{
  background-color: rgba(147,149,152,0.6);
  text-align: center;
  height: 425px;
  width: 90%;
  margin-top: 50px;
  display: inline-block;
}

.board-year{
  font-size: 1.7em;
  color: white;
  margin-top: 0;
}

/* Info Data Vis */
section#data-vis-4{
  background-color: rgb(188, 190, 192);
}

#target-trigger{
  position: relative;
  top: -200px;
}


/* Petition Section */
#signatures{
  padding-left: 7%;
  padding-right: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

#petition{
  padding-top: 100px;
  background-color: black;
}

h3.petition{
  font-size: 1.75em;
}

h4.petition{
  /*font-style: italic;*/
}

hr.petition{
  border-color: #ff3333;
  margin-top: 50px;
  margin-bottom: 50px;
}

textarea{
    height: 200px;
}

input[type="text"], textarea {
  color: white;
  font-size: 1.5em;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.0);
  border: none;
  border-bottom: solid 2px white;
  transition: border 0.3s;
  width: 100%;
  margin-bottom: 50px;
}
input.invalid[type="text"] {
  border-bottom: solid 2px #ff3333;
}
input[type="text"]:focus, textarea:focus,
input[type="text"].focus, textarea.focus {
  border-bottom: solid 2px white;
  outline: none;
}

button#sign{
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

img.share{
  width: 25px;
  margin: 10px;
}

img.share:hover{
  opacity: 0.6;
}

.status{
  font-size: 1.2em;
  color: #ff3333;
}

.signature{
  opacity: 0.8;
  float: left;
  margin-right: 50px;
  color: #555555;
  font-size: 1.8em;
}

/* Survey */
.survey{
  width: 100%;
}

/* FAQ Section */
a.faq{
  color: rgb(188, 190, 192);
  font-size: 2em;
  font-weight: bold;
}
#faq{
  padding-top: 100px;
  color: black;
}
.faq-number{
  font-weight: 700;
  font-size: 12.0em;
}
div.faq > p{
  font-size: 1.3em;
}
div.faq{
  margin-top: 50px;
  min-height: 190px;
}
